# LABEL ENCODING

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder

In [3]:
Data = {"Type": ["None", "LOW", "MEDIUM", "HIGH", "VERY HIGH", "None", "LOW", "MEDIUM", "HIGH"]}
data = pd.DataFrame(Data)

In [4]:
encoder = LabelEncoder()
data["Label_Encoded"] = encoder.fit_transform(data["Type"])

In [4]:
#data.drop("Type_Encoded", axis=1, inplace=True)

In [5]:
data

        Type  Label_Encoded
0       None              3
1        LOW              1
2     MEDIUM              2
3       HIGH              0
4  VERY HIGH              4
5       None              3
6        LOW              1
7     MEDIUM              2
8       HIGH              0

In [6]:
encoder.inverse_transform([3])

array(['None'], dtype=object)

# One HOT ENCODING

In [7]:
a = pd.get_dummies(data["Type"])

In [8]:
a

    HIGH    LOW  MEDIUM   None  VERY HIGH
0  False  False   False   True      False
1  False   True   False  False      False
2  False  False    True  False      False
3   True  False   False  False      False
4  False  False   False  False       True
5  False  False   False   True      False
6  False   True   False  False      False
7  False  False    True  False      False
8   True  False   False  False      False

In [9]:
data = pd.concat([data, a], axis=1)

In [10]:
data

        Type  Label_Encoded   HIGH    LOW  MEDIUM   None  VERY HIGH
0       None              3  False  False   False   True      False
1        LOW              1  False   True   False  False      False
2     MEDIUM              2  False  False    True  False      False
3       HIGH              0   True  False   False  False      False
4  VERY HIGH              4  False  False   False  False       True
5       None              3  False  False   False   True      False
6        LOW              1  False   True   False  False      False
7     MEDIUM              2  False  False    True  False      False
8       HIGH              0   True  False   False  False      False

# Ordinal ENCODING

In [11]:
data['Type'].unique()

array(['None', 'LOW', 'MEDIUM', 'HIGH', 'VERY HIGH'], dtype=object)

In [12]:
data['Type'].replace({'None':0, 'LOW':1, 'MEDIUM':2, 'HIGH':3, 'VERY HIGH':4})

0    0
1    1
2    2
3    3
4    4
5    0
6    1
7    2
8    3
Name: Type, dtype: int64

In [13]:
data["Ordinal_Encoded"] = data['Type'].replace({'None':0, 'LOW':1, 'MEDIUM':2, 'HIGH':3, 'VERY HIGH':4})

In [14]:
data

,Type,Label_Encoded,HIGH,LOW,MEDIUM,None,VERY HIGH,Ordinal_Encoded
0,None,3,False,False,False,True,False,0
1,LOW,1,False,True,False,False,False,1
2,MEDIUM,2,False,False,True,False,False,2
3,HIGH,0,True,False,False,False,False,3
4,VERY HIGH,4,False,False,False,False,True,4
5,None,3,False,False,False,True,False,0
6,LOW,1,False,True,False,False,False,1
7,MEDIUM,2,False,False,True,False,False,2
8,HIGH,0,True,False,False,False,False,3